################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Automation1/.vs/Automation1/v15
/Automation1/bin/Debug
/Automation1/obj/Debug
/Automation1/packages
/UnitTestProject1/bin/Debug
/UnitTestProject1/obj/Debug
/Automation1/.vs/Automation1/DesignTimeBuild
/AutomationTestConsole/bin/Debug
/AutomationTestConsole/obj/Debug
/Automation1/.vs/EneidaDecember2019/v15/Server/sqlite3/db.lock
/Automation1/.vs/EneidaDecember2019/v15/Server/sqlite3/storage.ide
/Automation1/.vs/EneidaDecember2019/v15/Server/sqlite3/storage.ide-shm
/Automation1/.vs/EneidaDecember2019/v15/Server/sqlite3/storage.ide-wal
